<%- include("partials/header"); -%>
<section>
    <header>
        <img src="../resources/children-group2.jpg" alt="" style="height: 50%;width:100%;">
    </header>
</section>
<section class="mission">
    <div class="container">
    <h2 class="text-center pt-5 ">Our Mission</h2>
    <hr id="missionHr">
    <div class="row">
        <div class="col-lg-6">
            <img src="../resources/child.jpg" style="height: 90%;width: 90%;" alt="">
        </div>
        <div class="col-lg-6 d-flex align-items-center text-center">
            <div class="donate ">
                <h2>Help the Unpriviledged</h2><br>
                <div class="achievements mb-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fas fa-exchange-alt fa-2x"></i>
                            <p>Transforming <br>over 1000 communities.</p>
                        </div>
                        <div class="col-lg-4">
                            <i class="fas fa-handshake fa-2x"></i>
                            <p>Serving over<br>1 lakh children.</p>
                        </div>
                        <div class="col-lg-4">
                            <i class="fas fa-search-location fa-2x"></i>
                            <p>Working in <br> 53 districts.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <i class="fas fa-map-marked-alt fa-2x"></i>
                            <p>Present in<br> 20 states.</p>
                        </div>
                        <div class="col-lg-6">
                            <i class="far fa-star fa-2x"></i>
                            <p>10+ years <br>of experience.</p>
                        </div>
                    </div>    
                </div>
                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                <a role="button" href="/donate" class="btn btn-primary">Donate</a>    
            </div>
        </div>
    </div>        
    </div>
</section>
<section class="benefits p-3 pt-5">
    <div class="container">
        <div class="row mb-4" style="text-align: center;">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <i class="fas fa-user-shield fa-2x"></i>
                      <h5 class="card-title">Transparency</h5>
                      <hr>
                      <p class="card-text">Donate India is committed to high standards of accountablity and transparency.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <i class="fas fa-calculator fa-2x"></i>
                      <h5 class="card-title">Tax <br> Benefit</h5>
                      <hr>
                      <p class="card-text">Your contributions to World Vision India are eligible for tax exemption under section 80G of Income Tax Act.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <i class="fas fa-hand-holding-heart fa-2x"></i>
                      <h5 class="card-title">How your <br> money is spent</h5>
                      <hr>
                      <p class="card-text">Your generous donations go towards implementation of our programmes, administration and fundraising.</p>
                    </div>
                  </div>
            </div>
        </div> 
        <div class="promise">
            <div style="text-align: center;">
                <i class="fas fa-child fa-2x"></i>
                <h3>Our Promises to Children</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit delectus corrupti cum autem sed praesentium velit a animi, repellat in earum, unde amet sint. Facilis sequi unde ipsa nemo.</p>    
            </div>
            
            <div class="row" id="childrenPromise">
                <div class="col-lg-6">
                    <li>Children are educated.</li>
                    <li>Children are aware of their basic rights.</li>
                    <li>Children are valued, cared for and feel loved in the community.</li>
                </div>
                <div class="col-lg-6">
                    <li>Children are healthy and well-nourished.</li>
                    <li>Children participate in their own development.</li>
                </div>
            </div>
        </div>   
    </div>
    
</section>
<%- include("partials/footer"); -%>